MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=bank_system
MYSQL_USER=bank_user
MYSQL_PASSWORD=bank_password
MYSQL_HOST=mysql_db
MYSQL_PORT=3306

QDRANT_HOST=qdrant_db
QDRANT_PORT=6333

MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password
MINIO_ENDPOINT=minio:9000

HOST_PORT_FRONTEND=5179
HOST_PORT_BACKEND=8085
HOST_PORT_PHPMYADMIN=8080
HOST_PORT_MINIO_CONSOLE=9006